.table {
    display: table;
}

.header {
    display: table-header-group;
    font-weight: bold;
}

.rowGroup {
    display: table-row-group;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 100px;
    height: auto;
}

.title {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.navigation-links {
    display: flex;
    align-items: center;
}

.button {
    margin-left: 10px;
}


.row {
    display: table-row;
}

body {
    text-align: center;
}

header {
    background-color: #f2f2f2;
    padding: 10px 0;
    margin-bottom: 20px;
}

/* CREATE/UPDATE FORMS */

.form-container {
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
    padding: 20px 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-group textarea {
    height: 200px;
    width: 102%;
    font-size: 1em;
    resize: none;
}

.content {
    width: 80%;
    margin: 0 auto;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group select {
    width: 100%;

}

.left-align {
    text-align: left;
}

.form-group .error {
    color: red;
    font-size: 0.8em;
}

.cell {
    display: table-cell;
    width: 25%;
}

.error {
    color: hotpink;
}

.content-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.column {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.auth-links a {
    display: block;
    margin-bottom: 10px;
}

.posts-list {
    list-style-type: none;
    padding: 0;
}

.post-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-title, .username {
    margin-right: 20px;
    text-decoration: underline red;
    color: #000;
    font-weight: bold;
}

.post-details {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.post-date, .comment-count {
    margin-right: 15px;
    font-size: 0.9em;
    color: #555;
}


/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    font-size: 14px;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    margin-right: 20px;
}

.footer-section h3 {
    color: #f8f8f8;
    margin-bottom: 10px;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.footer-section p,
.footer-section ul,
.footer-section li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-section a {
    color: #f8f8f8;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #e0e0e0;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }
}

.profile-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.greeting {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="password"],
.form-group input[type="email"],
.form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.confirm-delete-container {
    text-align: center;
    margin-top: 50px;
}

.delete-btn, .cancel-btn, .confirm-btn {
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn, .confirm-btn {
    background-color: #ff4444;
    color: white;
}

.cancel-btn {
    background-color: #c6c6c6;
    color: black;
}

.user-list {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.username {
    margin-right: 20px;
    font-weight: bold;
    color: #000;
}

.user-action-form {
    display: inline-block;
    margin-right: 10px;
}

.user-action-form:last-child {
    margin-right: 0;
}


.user-details {
    display: flex;
    align-items: center;
    margin-left: auto;
}