<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Posts</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <div class="header-container">
        <img src="/logo.webp" class="logo" alt="Logo">
        <h1 class="title">Movie Forum</h1>
        <div class="navigation-links">
            <div class="auth-links">
                <a th:href="@{/}">Home</a>
                <a th:href="@{/profile.html}" class="button">Profile Page</a>
                <a th:href="@{/posts/new}" class="button">Create New Post</a>
                <a th:href="@{/auth/logout}" class="button">Logout</a>
            </div>
        </div>
    </div>
</header>
<div class="body-content">
    <form action="#" th:action="@{/posts}" method="get" th:object="${postFilterOptions}">
        <label>Posts Search and Filter Options</label>
        <br/><br/>
        <input type="text" placeholder="Title" th:field="*{title}"/>
        <input type="text" placeholder="Content" th:field="*{content}"/>
        <input type="text" placeholder="User Creator" th:field="*{userCreator}"/>
        <select th:field="*{sortBy}">
            <option value="">Sort By</option>
            <option value="title">Title</option>
            <option value="userCreator">User Creator</option>
            <option value="timeStamp">Date Created</option>
        </select>
        <select th:field="*{sortOrder}">
            <option value="">Sort Order</option>
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
        <br/><br/>
        <input type="submit" value="Search"/>
    </form>

    <div th:if="${posts.isEmpty()}">
        <h2>No Posts Found</h2>
    </div>
    <div th:unless="${posts.isEmpty()}">
        <h2>All Posts</h2>
        <div class="table">
            <div class="header">
                <div class="cell">Title</div>
                <div class="cell">Created By</div>
                <div class="cell">Date Created</div>
            </div>
            <div class="row" th:each="post : ${posts}">
                <a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}" class="post-title">Post Title</a>
                <div class="cell" th:text="${post.getAuthor().username}"></div>
                <div class="cell" th:text="${post.timeStamp}"></div>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-section about">
                <h3>About Film Forum</h3>
                <p>A place to share and discuss your favorite movies and series.</p>
            </div>
            <div class="footer-section links">
                <h3>Quick Links</h3>
                <ul>
                    <div>
                        <li><a th:href="@{/}">Home</a></li>
                        <li><a th:href="@{/posts/new}">Create New Post</a></li>
                        <li><a th:href="@{/posts}">All Posts</a></li>
                        <li><a th:href="@{/profile}">Profile Page</a></li>
                    </div>
                </ul>
            </div>
            <div class="footer-section contact">
                <h3>Contact Us</h3>
                <p>Email: support@filmforum.com</p>
            </div>
        </div>
    </div>
</footer>
</html>