<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Film Forum</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <div class="header-container">
        <img src="/logo.webp" class="logo" alt="Logo">
        <h1 class="title">Movie Forum</h1>
        <div class="navigation-links">
            <!-- For Non-Authenticated Users -->
            <a th:unless="${isAuthenticated}" th:href="@{/auth/register}" class="button">Register</a>
            <a th:unless="${isAuthenticated}" th:href="@{/auth/login}" class="button">Login</a>

            <!-- For Authenticated Users -->
            <div th:if="${isAuthenticated}" class="auth-links">
                <a th:href="@{/profile}" class="button">Profile Page</a>
                <a th:href="@{/posts/new}" class="button">Create New Post</a>
                <a th:href="@{/posts}" class="button">All Posts</a>
                <a th:href="@{/auth/logout}" class="button">Logout</a>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="content-container">
        <!-- Recent Posts -->
        <div class="column recent-posts">
            <h2>Recent Posts</h2>
            <ul class="posts-list">
                <li th:each="post : ${mostRecentPosts}" class="post-item">
                    <a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}" class="post-title">Post Title</a>
                    <div class="post-details">
                        <span th:text="${#temporals.format(post.timeStamp, 'dd/MM/yyyy HH:mm')}" class="post-date">Creation Date</span>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Most Commented Posts -->
        <div class="column most-commented-posts">
            <h2>Most Commented Posts</h2>
            <ul class="posts-list">
                <li th:each="post : ${mostCommentedPosts}" class="post-item">
                    <a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}" class="post-title">Post Title</a>
                    <div class="post-details">
                        <span th:text="${post.comments.size()} + ' times commented'" class="comment-count">Comment Count</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>
<footer>
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-section about">
                <h3>About Film Forum</h3>
                <p>A place to share and discuss your favorite movies and series.</p>
            </div>
            <div class="footer-section links">
                <h3>Quick Links</h3>
                <ul>
                    <!-- For Non-Authenticated Users -->
                    <li th:unless="${isAuthenticated}"><a th:href="@{/}">Home</a></li>

                    <!-- For Authenticated Users -->
                    <div th:if="${isAuthenticated}">
                        <li><a th:href="@{/}">Home</a></li>
                        <li><a th:href="@{/posts/new}">Create New Post</a></li>
                        <li><a th:href="@{/posts}">All Posts</a></li>
                        <li><a th:href="@{/profile}">Profile Page</a></li>
                    </div>
                </ul>
            </div>
            <div class="footer-section contact">
                <h3>Contact Us</h3>
                <p>Email: support@filmforum.com</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
