<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Film Forum</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments.html :: header}"></div>
<main>
    <div class="content-container">
        <!-- Recent Posts -->
        <div class="column recent-posts">
            <h2>Recent Posts</h2>
            <ul class="posts-list">
                <li th:each="post : ${mostRecentPosts}" class="post-item">
                    <a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}" class="post-title">Post Title</a>
                    <div class="post-details">
                        <span th:text="${#temporals.format(post.timeStamp, 'dd/MM/yyyy HH:mm')}" class="post-date">Creation Date</span>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Most Commented Posts -->
        <div class="column most-commented-posts">
            <h2>Most Commented Posts</h2>
            <ul class="posts-list">
                <li th:each="post : ${mostCommentedPosts}" class="post-item">
                    <a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}" class="post-title">Post Title</a>
                    <div class="post-details">
                        <span th:text="${post.comments.size()} + ' times commented'" class="comment-count">Comment Count</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>
<div th:replace="~{fragments.html :: footer}"></div>
</body>
</html>
